@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root{
  --main-bg-color: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.topnav{
  background-color: #000000;  
 
}
.balcony {
  margin-right: 5px;
  height: 30px;
}
.navbrand {
  font-family: 'Lexend Peta', sans-serif;
  font-size: 1.5em;
}


.navbar-dark .navbar-nav  .nav-link {
  font-family: 'Josefin Slab', serif;
  font-family: 'Lexend Peta', sans-serif;
  font-size: .9em;
  color: #ffffff;
  margin-right: 5px;
  border-bottom: 0px;
}
.navbar-dark .navbar-nav  .nav-link:hover {
  color: #F6F6F6;
  border-bottom: 1px solid #ffffff;
  /* transition:  5s; */
}
.navbtn {

  font-family: 'Josefin Slab', serif;
  font-family: 'Lexend Peta', sans-serif;
  font-size: .9em;
  color: #ffffff;
  /* margin-right: 5px; */
  border-bottom: 0px;
}
.navbtn:hover {
  color: #F6F6F6;
  border-bottom: 1px solid #ffffff;
}

.active {
  background-color: #242323  ;
  /* border-radius: 10%; */
  
}

/* .imagehead {
  border: 2px solid gray;
 
  margin: 20px;
  box-shadow: gray ;
}  */
/* .header_image {
  width: 100%;
  height: 87vh;
  opacity: 0.8 ;
}
.sepia {
  filter: saturate(2);
}  */
.search_header{
  /* background-color:#7900FF; */
  background-image: linear-gradient(180deg, #000000, #777373);
  width: 100%; 
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  /* padding: 10px; */


}
.search_container {


 width: 100vh;
 height: 20vh;    
 background-color: white;
 border: 1px solid white;
 border-radius: 2vh;
 align-self: center;
 /* z-index: 1; */
 margin-bottom: 10px;
 padding: 20px;
 /* box-shadow: 5px 5px 2px   #0C1E7F; */
 justify-content: center;
 align-items: center;
}

.description {
  /* width: 160vh;
  height: 40vh; */
  /* background-color: #0a0a0a; */
  background: transparent;
  font-family: 'Josefin Slab', serif;
  font-family: 'Lexend Peta', sans-serif;;
  font-size: 30px;
  color:#fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  
  /* overflow: scroll; */
  
}

.description-text {
  /* display: block; */
  color: #49FF00;
  border-bottom: 1px solid #49FF00 ;
  
}

.container2{
  height: 10vh;
}
.searchbar {
  text-align: center;

}
.searchbarbtn {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1vh  ;
}

.location {
  margin-right: 1vh;
  border: 0px;
  border-radius: 0px;
  background-color: #374045;
  color: #F6F6F6;
 
}
.location:hover{
  background-color: #777373;
  color: #ffffff;
}

.search{
  margin-left: 1vh;
  border: 0px;
  border-radius: 0px;
  background-color: #374045;
  color: #F6F6F6;    
}
.btn:focus {
      outline:none;
      box-shadow: none;
}
.btn{
box-shadow: none !important
}

.search:hover{
  background-color: #777373;
  color: #ffffff;
}
.search-text {
  border-radius: 0px;  
}

.categories {
  border: 0;
  background-color: #374045;
}
.categories:hover{
  
  background-color: #777373;
  color: #ffffff;
}
.categories:active{
  background-color:#777373 ;
  color: #ffffff;
}

.searchresponsive {
  display: none;
}


/* login modal */

.form-modal {
  font-family: 'Josefin Slab', serif;
  font-family: 'Lexend Peta', sans-serif
}

.loginbtn {
  background-color: #7900FF;
  color: #F6F6F6;    
}
.loginbtn:hover {
  background-color: #F6F6F6;
  color: #7900FF;
  border: 1px solid #7900FF;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  
}

.form-control {
  box-shadow: none !important;   
}
#loginRememberme {
  font-size: 10px;
}
.modalfootercontainer {
  justify-content: space-between;
}
.cancel {
  background-color: #797372;
  color: #F6F6F6;
}
.cancel:hover {
  background-color: #5a5554;
  color: #F6F6F6;
}

.forgotpassword {
  color:#7900FF;
}
.forgotpassword:hover{
  color: #170055;
}

.logintitle {
  font-family: 'Barlow', sans-serif;
  font-family: 'Josefin Slab', serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lexend Peta', sans-serif;
}


/* sign Up modal */

.signuptitle {
  font-family: 'Barlow', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Josefin Slab', serif;
  font-family: 'Lexend Peta', sans-serif;
}

.signUpbelowheadertext {
  font-family: 'Barlow', sans-serif;
  font-family: 'Josefin Slab', serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lexend Peta', sans-serif;
  font-size: 12px;
}

.signUpabovefootertext{
  font-family: 'Barlow', sans-serif;
  font-family: 'Josefin Slab', serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lexend Peta', sans-serif;
  font-size: 11px;
}

#SignUpRememberme {
  font-size: 10px;
}

.signupbtn{
  background-color: #7900FF;
  color: #F6F6F6; 
}
.signupbtn:hover{
  background-color: #F6F6F6;
  color: #7900FF;
  border: 1px solid #7900FF;
}

/* PostYourProperty Content Starts here  */
.postyourpropertycontainer {
  width: 100vw;
  height: 90vh;
  background-color: #ffffff;  
}

.txtColour{
  color: white;
}



/* PostYourProperty Content ends here */



@media screen and (max-width:480px){
   .description{
      text-align: center;
       padding: 30px;
       font-size: 20px; 
       margin: auto;
   }
   .search_container{
       display: none;
   }
   .search_header{
       height: 40vh;
   }
   .searchresponsive{
       display: block;
       width: 100%;
      padding: 8px;
   }
   .search{
       margin-right: 5px;
       border: 1px solid #F6F6F6;
       border-radius: 2px;
   }
}

@media screen and (max-width:800px){
  .search_container{
      display: none;
  }
  .search_header{
      height: 40vh;
  }
  .searchresponsive{
      display: block;
      width: 100%;
     padding: 8px;
  }
  .search{
      margin-right: 5px;
      border: 1px solid #F6F6F6;
      border-radius: 2px;
  }

}






/* LogIn SignUp CSS */
body,
input {
  font-family: "Poppins", sans-serif;
}

.loginbox{
  background-color: black;
  width: 98.9vw;
  height: 90vh;
}
.container {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  min-height: 90vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn {
  width: 150px;
  background-color: var(--main-bg-color);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--main-bg-color);
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, var(--main-bg-color) 0%, var(--main-bg-color) 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}