h1{
    color: blue;
}
.main{
    display: grid;
    grid-template-columns: 700px 175px;
    grid-template-rows: 350px ;
    margin-top: 50px;
}
.buttons{
    margin-top: 35px;
    margin-left: 215px;
    display: grid;
    grid-template-columns: 150px 170px;
    grid-template-rows: 47px;
}
.carousel{
    border-radius: 50px;
    margin-right: 30px;
    
}
.txt{
    height: 86%;
    border-radius: 10px;
    width: 300%;
    background-color: lightgoldenrodyellow;
    padding: 10px;
}
.feat{
    display: grid;
    grid-template-columns: 100px 100px 100px;
}
.item{
    background-color: aquamarine;
    border: 3px ;
    border-radius: 3px;
    margin-left: 20px;
    text-align: center;
    padding: 5px;
}
.b2{
    color: white;
    background-color: rgb(0, 132, 255);
    border: none;
    
    
}
.b{
    color:rgb(0, 132, 255) ;
    background-color: white;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
}
.amen{
    margin: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px ;
}
.am{
    margin: 4px;
    margin-left: 8px;
    padding: auto;
    text-align: center;
    background-color: lightblue;
    padding: 5px;
    border-radius: 10px;
}


.carousel-cell {
    width: 100%;
    
    margin-right: 10px;
    
    border-radius: 5px;
   
}
.img {
    height:500px;
    max-width: 100%;
}
.carousel-cell .img img{
    height:500px;
    max-width: 100%;
}
.desc{
    margin:20px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}
.owner{
    color: rgb(82, 186, 221) ;
    text-shadow: 5px;
    margin: 20px;
}
.head{
    margin-left: 20px;
    color: black;
}
.foot{
    
    
    background-color: rgb(223, 217, 217);
    margin-top: 250px;
}