<!-- Contact Us Modal -->

<div class="modal fade" id="ContactUsmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Name</h5>
          <input class="form-control" type="text" placeholder="Your Name" aria-label="default input example">
          <br>
          <h5>Email</h5>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          <br>
          <h5>Subject</h5>
          <input class="form-control" type="text" placeholder="Subject" aria-label="default input example">
          <hr>
          <h5>Your concern</h5>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <p>After pressing the "Submit" button you can close the form by pressing the "✕" above.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  
  