 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark topnav">
    <div class="container-fluid">
        <img src="images\outline_balcony_white_24dp.png" alt="balcony" class="balcony">
        <a class="navbar-brand navbrand" href="#">Perfect View</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li <% if (page_name === 'home') { %>
                    class="nav-item active text-center"
                    <%} else { %>
                    class="nav-item text-center"
                    <% } %> >
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li <% if (page_name === 'postyourproperty') { %>
                    class="nav-item active text-center"
                    <%} else { %>
                    class="nav-item text-center"
                    <% } %>>
                    <a class="nav-link" href="postyourproperty">Post Property</a>
                </li>
                <li <% if (page_name === 'contactus') { %>
                    class="nav-item active text-center"
                    <%} else { %>
                    class="nav-item text-center"
                    <% } %>>
                  <button type="button" class="btn navbtn" data-bs-toggle="modal" data-bs-target="#ContactUsmodal">
                    Contact Us
                  </button>
                </li>
                <li <% if (page_name === 'login') { %>
                    class="nav-item active text-center"
                    <%} else { %>
                    class="nav-item text-center"
                    <% } %>>
                    <a class="nav-link" href="login"><i class="fa fa-user-circle" style="font-size: 15px;" aria-hidden="true"></i> Account</a>
                  </li>
            </ul>
        </div>
    </div>
</nav>
