<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- about.css -->
  <link rel="stylesheet" href="css/home.css">

  <!-- logo font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300&display=swap" rel="stylesheet">
  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <title>Perfect View | <%=title %>
  </title>
  <script src="https://kit.fontawesome.com/02ce04e7e3.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- navbar -->
    <%- include('./partials/nav'); %>
  

    <!-- SEARCH HEADER -->
    <div class="search_header">
      <div class="description">
        <p>Sell or Rent your property for</p>
        <p class="description-text"><strong>free on Perfect View</strong></p>
      </div>
      <div class="search_container">
        <div class="searchbar">
          <div class="btn-group searchbarbtn" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary categories">Buy</button>
            <button type="button" class="btn btn-primary categories">Rent</button>
            <button type="button" class="btn btn-primary categories">PG</button>
            <button type="button" class="btn btn-primary categories">Commercial</button>
          </div>
          <form class="d-flex submit">
            <div class="dropdown dropstart">
              <a class="btn dropdown-toggle location" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Location
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Cities</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Delhi</a></li>
                <li><a class="dropdown-item" href="#">Chennai</a></li>
                <li><a class="dropdown-item" href="#">Mumbai</a></li>
                <li><a class="dropdown-item" href="#">Kolkata</a></li>
                <li><a class="dropdown-item" href="#">Lucknow</a></li>
                <li><a class="dropdown-item" href="#">Kanpur</a></li>
              </ul>
            </div>
            <input class="form-control me-2 search-text" type="search" placeholder="Search" aria-label="Search">
            <button class="btn search" type="submit">Search</button>
          </form>
        </div>
      </div>

      <div class="searchresponsive">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn search" type="submit">Search</button>
        </form>
      </div>

    </div>

    <!-- CONTACT US MODAL -->
    <%- include('./partials/ContactUs'); %>

    <!-- WEBSITE CONTENT -->
  <div class="home-content">
    <h3>GET STARTED WITH EXPLORING REAL ESTATE OPTIONS</h3>
    <div class="a-box mx-4">
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="/images/sell_rent.jpg">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>Sell/Rent property</h3>
      </div>
    </div>
    <div class="a-box mx-4">
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="/images/buying-home.jpg">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>Buying a home</h3>
      </div>
    </div>
    <div class="a-box mx-4">
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="/images/bedroom.jpg">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>PG and co-living</h3>
      </div>
    </div>
    <div class="a-box mx-4">
      <div class="img-container">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="/images/rent.jpg">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>Rentind a home</h3>
      </div>
    </div>
    
    <h6 class="my-4" style="color: #96968d; font-family: 'Poppins', sans-serif; font-weight: 700;">FOR ALL YOUR PROPEERTY RELATED NEEDS - We got a portal that has all</h6>
  <p style="font-size: 50px; font-family: 'Poppins', sans-serif; font-weight: 800;     color: #7d9644ad;">Price is what you pay. <br> Value is what you get...</p>
  
  <!-- POST YOUR PROPERTY CARD -->
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img style="height: 400px; width: 1000px;" src="/images/family-img.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h6 style="color: #96968d; font-family: 'Poppins', sans-serif; font-weight: 700;">POST YOUR PROPERTY</h6>
        <h1 class="display-5 fw-bold lh-1 mb-3">Property owners get free posting when they register.</h1>
        <p class="lead">Sell or rent your residential/ commercial property.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
         <a href="postyourproperty"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2" style="font-family: 'Poppins', sans-serif; font-weight: 700;">Post your property for FREE</button></a> 
        </div>
      </div>
    </div>
  </div>

  <h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; font-size: 50px;">Explore Real Estate in Popular Indian Cities</h1> <br>

  <div class="cities">
    <div class="city-cards">
      <div class="card">
        <div class="card-header">
          <img src="/images/delhi.jpg" alt="rover" />
        </div>
        <div class="card-body">
          <span class="tag tag-teal">Delhi</span>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img src="/images/chennai.jpg" alt="rover" />
        </div>
        <div class="card-body">
          <span class="tag tag-teal">Chennai</span>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img src="/images/mumbai.jpg" alt="rover" />
        </div>
        <div class="card-body">
          <span class="tag tag-teal">Mumbai</span>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img src="/images/kolkata.jpg" alt="rover" />
        </div>
        <div class="card-body">
          <span class="tag tag-teal">Kolkata</span>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img src="/images/lucknow.jpg" alt="rover" />
        </div>
        <div class="card-body">
          <span class="tag tag-teal">Lucknow</span>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <img src="/images/kanpur.jpg" alt="rover" />
        </div>
        <div class="card-body">
          <span class="tag tag-teal">Kanpur</span>
        </div>
      </div>
    </div>
  </div> <br> <br> <br>


  <!-- RENTING PROPERTY CARD  -->
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img style="height: 400px; width: 1000px;" src="/images/sofa.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h6 style="color: #96968d; font-family: 'Poppins', sans-serif; font-weight: 700;">RENT A HOME</h6>
        <h1 class="display-5 fw-bold lh-1 mb-3">Rental Homes for Everyone.</h1>
        <p class="lead">Explore from Apartments, builder floors, villas and more</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" style="font-family: 'Poppins', sans-serif; font-weight: 700;">Explore Renting</button>
        </div>
      </div>
    </div>
  </div> <br>

  <p style="font-size: 50px; font-family: 'Poppins', sans-serif; font-weight: 800;     color: #7d9644ad;">"The best investment <br> on earth is earth"</p>

  <!-- RENT A PG/ CO-LIVING -->
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img style="height: 400px; width: 1000px;" src="/images/bed.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h6 style="color: #96968d; font-family: 'Poppins', sans-serif; font-weight: 700;">RENT A PG/ CO-LIVING</h6>
        <h1 class="display-5 fw-bold lh-1 mb-3">Paying Guest or Co-living options.</h1>
        <p class="lead">Explore shared and private rooms in all top cities of india</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" style="font-family: 'Poppins', sans-serif; font-weight: 700;">Explore PG/ Co-living</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h6 style="color: #96968d; font-family: 'Poppins', sans-serif; font-weight: 700; text-align: left;">TESTIMONIALS</h6>
    <h2 class="pb-2 border-bottom" style="font-family: 'Poppins', sans-serif; font-weight: 700; font-size: 50px;">What our customers are saying about Perfect View</h2>
    <p style="font-family: 'Poppins', sans-serif;">Hear from our satisfied buyers, tenants, owners and dealers</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2 style="text-align: left; color: #7d9644ad;">Arpit Gupta</h2>
        <h6 style="color: #96968d; font-family: 'Poppins', sans-serif; text-align: left;">Owner, Chennai</h6>
        <p style="text-align: left;">You get an exclusive RM from Perfect View team who tracks your property closely.</p>
        
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2 style="text-align: left; color: #7d9644ad;">Ritik Sohane</h2>
        <h6 style="color: #96968d; font-family: 'Poppins', sans-serif; text-align: left;">Owner, Lucknow</h6>
        <p style="text-align: left;">Perfect View has a better response rate compared to any of their competitors.</p>
        
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2 style="text-align: left; color: #7d9644ad;">Vipin Yadav</h2>
        <h6 style="color: #96968d; font-family: 'Poppins', sans-serif; text-align: left;">Owner, Kolkata</h6>
        <p style="text-align: left;">The products they offer gives us more leverage in reaching out to right customer.</p>
        
      </div>
    </div>
  </div>
  
</div>



      <!-- Footer -->
      <%- include('./partials/footer'); %>





        <script src="js/home.js"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html>