<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome|<%=data.username%></title>
    <link rel="stylesheet" href="css/welcome.css">
  </head>

  <body>
    <input type="checkbox" name="" id="menu-toggle">
    <div class="overlay"><label for="menu-toggle">
      </label></div>
    <div class="sidebar">
      <div class="sidebar-container">
        <div class="brand">
          <h3 style="text-align: center;">
            <span class="lab la-staylinked"></span>
            Perfect View
          </h3>
        </div>
        <div class="sidebar-menu">
          <ul>
            <!-- <li><a href="#" class="active"><span class="las la-adjust"></span><span>Dashboard</span></a></li> -->
            <li><a href="editprofile"><span class="las la-video"></span><span>Update Profile</span></a></li>
            <li><a href="/p"><span class="las la-chart-bar"></span><span>Posted property</span></a></li>
            <!-- <li><a href="/cart"><span class="las la-chart-bar"></span><span>Cart</span></a></li> -->
            <li><a href="home"><span class="las la-calendar"></span><span>Back to Home</span></a></li>
            <!-- <li><a href="#"><span class="las la-user"></span><span>Log out</span></a></li> -->
          </ul>
        </div>
        <div class="sidebar-card">
          <div class="side-card-icon">
            <span class="lab la-codiepie"></span>
          </div>
          <div>
            <h4>Feedback</h4>
            <p>anything that might help us to inprove</p>
          </div>
          <button class="btn btn-main btn-block">Give Feeddback</button>
        </div>
      </div>
    </div>
    <div class="main-content">
      <header>
        <div class="header-wrapper">
          <label for="menu-toggle">
            <span class="las la-bars"></span>
            ⁞⁞⁞
          </label>
          <div class="header-title">
            <h1>Dashboard</h1>
            <p><%=data.username%> <span class="las la-chart-line"></span></p>
          </div>
        </div>
        <div class="header-action">
          <form action="/logout" method="post">
            <button style="height: 55px; margin-right: 20px;" class="btn btn-main">signout
              <span class="las la-video"></span>
            </button>
          </form>
          <button class="btn btn-main">
            <span class="las la-video"></span>
            <a style="color: white;" href="postyourproperty">Post a property</a>
          </button>

        </div>
      </header>
      <main>
        <!-- <section>
          <h3 class="section-head">Overview</h3>
          <div class="analytics">
            <div class="analytic">
              <div class="analytic-info">
                <h4>Properties posted by you</h4>
                <h1>10.3M</h1>
              </div>
            </div>
            <div class="analytic">
              <div class="analytic-info">
                <h4>Update contact number</h4>
                <h1>20.9k <small class="text-danger">5%</small></h1>
              </div>
            </div>
            <div class="analytic">
              <div class="analytic-info">
                <h4>Home</h4>
                <h1>1.3k <small class="text-success">12%</small></h1>
              </div>
            </div>
            <div class="analytic">
              <div class="analytic-info">
                <h4>Customers who contacted you</h4>
                <h1>3.4M </h1>
              </div>
            </div>
          </div>
        </section> -->
        <section>
          <div class="block-grid">
            <div class="revenue-card">
              <h3 class="section-head">User's profile</h3>
              <div class="rev-content">
                <img src="/images/user.webp" alt="user image">
                <div class="rev-info">
                  <h3>
                    <%=data.username%>
                  </h3>
                  <!-- <h1>0 <small>Properties posted</small></h1> -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <script src=""></script>
  </body>

</html>
